<br>
<br>
<!-- <h1>BenefitsApplication List</h1> -->

<div class="container">

    <div >
        <form (ngSubmit)="goToBenefitsApplication()" >
            <div class="form-group col-md-6 inline ">

                <input  [(ngModel)]="EnteredID" type="text" class="form-control" id="id" name="id" placeholder="Search by ID">
                <button class="btn btn-secondary " type="submit">Search</button>
            </div>
        </form>

    </div>
    <br>
    <br>
<div>
<table style="margin-bottom: 50px;" class=" table table-responsive table-striped  border-dark">

    <thead class="table-dark ">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let benefitsApplication of benefitsApplications">
            <td>{{benefitsApplication.id}}</td>
            <td>{{benefitsApplication.fname}}</td>
            <td>{{benefitsApplication.lname}}</td>
            <td>{{benefitsApplication.email}}</td>
            <td>{{benefitsApplication.address}}</td>
            <td>{{benefitsApplication.city}}</td>
            <td>
                <button (click) = "updateBenefitsApplication(benefitsApplication.id)" class = "btn  btn-secondary btn-sm"> Update</button>
                <button (click) = "deleteBenefitsApplication(benefitsApplication.id)" class = "btn btn-danger btn-sm" style="margin-left: 10px"> Delete</button>
                <button (click) = "detailsOfBenefitsApplication(benefitsApplication.id)" class = "btn btn-success btn-sm " style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>


</table>
<br><br><br><br>
</div>

