<br />
<br />
<!-- <h1>BenefitsApplication List</h1> -->

<div>
  <div class="float-parent-element">
    <div class="float-child-element">
      <input
        [(ngModel)]="EnteredID"
        type="text"
        class="form-control"
        id="id"
        name="id"
        placeholder="Search by ID"
      />
      <button class="btn btn-secondary" type="submit">Search</button>
    </div>
    <div class="float-child-element-right">
      <button (click)="addNewApplication()">New Application</button>
    </div>
  </div>
  <br />
  <div>
    <table
      mat-table
      [dataSource]="benefitsApplications"
      class="mat-elevation-z8"
    >
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="fname">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.fname }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lname">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lname }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let element">{{ element.city }}</td>
      </ng-container>

      <ng-container matColumnDef="approval">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.approval }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
